#main-user{
    /* border: 5px solid block; */
    /* background-color: aqua; */
    width: 100%;
    margin-left: 29%;
    margin-top:3%;
}
.maintable{
    border: 2px solid black;
    background-color: floralwhite;
}
.maintable th{
    padding: 4% 14px;
    border: 2px solid black;
}
.tbody-user td{
    border: 2px solid black;
    padding: 13px;

}
.edit-user {
    color: red;
    padding: 4%;
}